<!doctype html>
<html lang="{{ site.locale }}">

<head>
  {% render "head", metadata: site.metadata, title: page.title %}
</head>

<body class="site {{ resource.data.layout }} {{ resource.data.page_class }}">
<div class="d-flex min-vh-100 flex-column align-items-end">
  {% render "navbar", metadata: site.metadata, 
                        resource: resource, 
                        nav: site.data.nav %}

  <div class="main container-fluid my-4 my-md-5">
    <article class="content-width mx-auto">
      {{ content }}
    </article>
  </div>

  {% render "footer", metadata: site.metadata, nav: site.data.nav, nav2: site.data.elsewhere %}
</div>
  
</body>

</html>