---
layout: default
---

<header class="my-5">
  <h1>{{ page.title }}</h1>
  <div class="meta small">
    {% render "post_meta", post: page %}
  </div>
</header>
{% render "carbon" %}
<div class="content">
  {{ content }}
</div>