---
layout: default
---

<header class="my-4 my-md-5">
  <h1>{{ page.title }}</h1>
  <div class="meta small">
    {% render "post_meta", post: page %}
  </div>
</header>
{% render "carbon" %}
<div class="content">
  {{ content }}
</div>
<div class="footer-meta">
Filed under: <a href="/categories/{{page.category | slugify }}/">{{ page.category | capitalize}}</a>
</div>
<div class="border-top my-4 my-md-5">
  <h2>Most Recent Posts</h2>
  {% render "post_loop", posts: collections.posts.resources, limit: 3 %}
</div>