@media (prefers-color-scheme: dark) {

  $background-color: #111;
  $primary: #ddd;
  $muted: #bbb;
  $link-color: #F45B69;
  $link-hover-color: #eee;
  $border-color: #333;
  $bq-background-color: #333;
  $bq-color: $muted;
  $ca-background-color: #222;
  $ca-pb-background-color: #333;
  $ca-border-color: #333;

  body {
    background-color: $background-color !important;
    color: $primary !important;
  }

  a {
    color: $link-color !important;
    &:hover {
      color: $link-hover-color !important;
    }
  }

  .border-top {
    border-top-color: $border-color !important;
  }

  .border-bottom {
    border-bottom-color: $border-color !important;
  }

  .text-dark, .link-dark {
    color: $primary !important;
  }

  .text-muted {
    color: $muted !important;
  }

  .bg-light  {
    background-color: #222 !important;
  }

  .card {
    background-color: #222 !important;
    border-color: $border-color !important;
  }

  .card-footer {
    border-color: $border-color !important;
  }

  blockquote {
    background-color: #222 !important;
    color: $bq-color !important;
  }

  #carbonads {
    background-color: $ca-background-color !important;
    border-color: $ca-border-color !important;

    a {
      color: $primary !important;

      &:hover {
        color: $primary !important;
      }
    }

    .carbon-poweredby {
      background-color: $ca-pb-background-color;
    }
  }
}