<footer class="container mt-5 small">
  <div class="row">
    <div class="col-12 d-flex flex-column mb-5 col-lg-4">
      <p class="mb-2 fw-bold">Site statistics</p>
      <p class="text-muted">coming soon.</p>
    </div>
    <div class="col-12 d-flex flex-column mb-5 col-lg">
      <p class="mb-2 fw-bold">Resources</p>
      <a class="text-muted fw-normal mb-2" rel="noopener"
        href="/styleguide">Styleguide</a>
      <a class="text-muted fw-normal mb-2" rel="noopener"
        href="/changelog">What's new</a>
      <a class="text-muted fw-normal mb-2" rel="noopener" href="/usecases">Use
        Cases</a>
      <a class="text-muted fw-normal mb-2" rel="noopener" href="/demo">Take a
        tour</a>
      <a class="text-muted fw-normal mb-2" rel="noopener" href="/sitemap.xml"
        target="_blank">Sitemap</a>
    </div>
    <div class="col-12 d-flex flex-column mb-5 col-lg">
      <p class="mb-2 fw-bold">Product</p>
      <a class="text-muted fw-normal mb-2" rel="noopener"
        href="/about">About</a>
      <a class="text-muted fw-normal mb-2" rel="noopener"
        href="/pricing">Pricing</a>
      <a class="text-muted fw-normal mb-2" rel="noopener"
        href="/credits">Credits</a>
      <a class="text-muted fw-normal mb-2" rel="noopener"
        href="/testimonials">Testimonials</a>
      <a class="text-muted fw-normal mb-2" rel="noopener" href="/faq">FAQ</a>
    </div>
    <div class="col-12 d-flex flex-column mb-5 col-lg">
      <p class="mb-2 fw-bold">Shorcuts</p>
      <a class="text-muted fw-normal mb-2" rel="noopener"
        href="/login">Authentication</a>
      <a class="text-muted fw-normal mb-2" rel="noopener" href="/admin">Admin
        Dashboard</a>
      <a class="text-muted fw-normal mb-2" rel="noopener"
        href="/profile">Profile Page</a>
      <a class="text-muted fw-normal mb-2" rel="noopener"
        href="/privacy">Privacy</a>
      <a class="text-muted fw-normal mb-2" rel="noopener" href="/blog">All blog
        articles</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex flex-column mb-5 col-md-6">
      <div class="d-flex flex-column justify-content-start align-items-start">
        <p class="m-0 text-muted mb-3">&copy; 2014-{{ "now" | date: "%Y" }} Johnathan Lyman.</p>
        <div class="m-0">

        </div>
      </div>
    </div>
    <div
      class="col-12 d-flex flex-column mb-5 col-md-6 justify-content-end align-items-start align-items-md-end">
      <p class="text-muted">Built with <a
      href="https://bridgetownrb.com" target="_blank">Bridgetown</a></p>
    </div>
  </div>
</footer>