<header class="container-fluid border-bottom py-3 px-0">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col d-flex justify-content-start">
        <a class="text-dark text-decoration-none fw-700 me-3" href="/"> <i
            class="fas fa-keyboard fa-lg me-2"></i> Johnathan.org
        </a>
        {% for item in nav %}
        <a class="fw-500 link-dark me-3" aria-current="page"
          href="{{ item.path }}">{{ item.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</header>