<header class="container">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand me-3 my-3 fw-700" href="/"> <i class="fas fa-keyboard fa-lg me-2"></i> Johnathan Lyman </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#actualNavbar" aria-controls="actualNavbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="actualNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          {% for item in nav %}
          <li class="nav-item">
            <a class="nav-link fw-500" aria-current="page"
              href="/{{ item.path }}">{{ item.name }}</a>
          </li>
           {% endfor %}
        </ul>
    </nav>
  </div>

</header>