<ul class="un">
  {% for post in posts limit: limit %}
  <li class="post-list">
    <time>{{ post.date | date: "%Y-%m-%d" }}</time>
    <a href="{{ post.relative_url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>