<div class="py-4">
  <h3>
    <a class="text-dark text-decoration-none fw-700"
      href="{{ post.relative_url }}">{{ post.title }}</a>
  </h3>
  {% if excerpt == "true" %}
  <p>
    {% if post.excerpt %}
    {{ post.excerpt }}
    {% else %}
    {{ post.content | strip_html | truncatewords:30 }}
    {% endif %}
  </p>
  {% endif %}
  <p class="small text-muted fw-600 my-0">
    {% render "post_meta", post: post %}
  </p>
</div>